/**
Author: Prenom NOM
Login : etuXXX
Groupe: ISEN X GROUPE Y
Annee:
*/

/* Body */

/* Header level 1 */

/* Header level 2 */

/* section */

/* Table */

/* Forms */

/* Header and footer */

/* Authentication */

/* Chat */

